:root {
    --logo-font: 'Jomhuria', serif;
    --main-font: 'InstrumentSans', sans-serif;
    --logo-font-size: clamp(2.5rem, 2.2799rem + 0.939vw, 3.125rem); /* 40px - 50px */
    --main-font-size: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem); /* 12px - 20px */
    --search-font-size: clamp(0.75rem, 0.684rem + 0.2817vw, 0.9375rem); /* 12px - 15px */
    --type-font-size: clamp(0.5rem, 0.346rem + 0.6573vw, 0.9375rem); /* 8px - 15px */
    --card-title-font-size: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem); /* 20px - 40px */
    --card-text-font-size: clamp(0.625rem, 0.4049rem + 0.939vw, 1.25rem); /* 10px - 20px */
    --link-font-size: clamp(0.625rem, 0.515rem + 0.4695vw, 0.9375rem); /* 10px - 15px */

    --regular-font-weight: 400;
    --bold-font-weight: 500;
    --white: #fff;
    --black: #000;
    --grey: #ffffff6e;
    --dark-grey: #1e1e1e;
    --text-color: var(--white);
    --border-color: var(--white);
    --border-hover-color: var(--grey);
    --bg-color: var(--dark-grey);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
}

body {
    block-size: 100vh;
    min-inline-size: 375px;
    max-inline-size: 1440px;
    margin: 0 auto;
    background-color: var(--bg-color);
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    padding: 0;
    margin: 0;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

input {
    padding: 0;
}
